.btn-main {
	text-decoration: none;
    border: 1px solid $gray;
    padding: 5px 10px 5px 5px;
    display: inline-block;
}

.btn-ok {
	padding: 10px;
	background-color: $main;
	color: white;
	text-decoration: none;
	transition: background-color 300ms ease;
	border: 1px solid transparent;
	display: inline-block;
	&:hover {
		background-color: white;
		border: 1px solid $main;
		color: $main;
	}
}

.btn-enter {
	color: $gray;
	display: inline-block;
}

.btn-secondary {
	color: $main;
	padding: 11px 20px 10px;
	border: 1px solid $main;
	text-decoration: none;
	transition: border 300ms ease;
	margin-right: 5px;
	&:hover {
		border: 1px solid $gray;
	}
}